<%

let {lang, tag, category, year, month, i18n} = page
let data = site.data[lang]
let pageTitle = page.title || config.subtitle || ''

if (is_archive() === true) {
  pageTitle = 'Archives'
}

if (is_tag() === true) {
  pageTitle = 'Tag: ' + tag
}

if (is_category() === true) {
  pageTitle = 'Category: ' + category
}

if (is_month() === true) {
  pageTitle += ': ' + month + '/' + year
}

if (is_year() === true) {
  pageTitle += ': ' + year
}

pageTitle += ' [ ' + config.title + ' ]'
%>

<!doctype html>
<html lang="<%=lang%>">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%=pageTitle%></title>
  <% theme.stylesheets.forEach(url => { %>
    <link rel="stylesheet" href="<%=url%>">
  <% }) %>
  <link rel="shortcut icon" href="/img/favicon.png">
  <link rel="icon" href="/img/favicon.png">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-stick-dark" data-navbar="sticky">
  <div class="container">
    <div class="navbar-left">
      <button class="navbar-toggler" type="button">☰</button>
      <a class="navbar-brand" href="/<%=lang%>">
        <img class="logo-dark" src="/img/logo-dark.png" alt="logo">
        <img class="logo-light" src="/img/logo-light.png" alt="logo">
      </a>
    </div>

    <section class="navbar-mobile">
      <span class="navbar-divider d-mobile-none"></span>
      <ul class="nav nav-navbar">
        <% Object.keys(data.menu).forEach(key => { %>
          <li class="nav-item">
            <a class="nav-link" href="<%=data.menu[key]%>"><%=key%></a>
          </li>
        <% }) %>
      </ul>
    </section>

    <a class="btn btn-sm btn-round btn-success"
      href="https://github.com/ethsociety/learn-plasma">
      <%=data.contribute%> <i class="fab fa-github"></i>
    </a>
  </div>
</nav>


<div id="main-content">
  <%-body%>
</div>

<footer class="footer">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-md-9">
        <div class="nav justify-content-center justify-content-md-start">
          <a class="nav-link" href="http://www.initc3.org/">Made with ❤️at IC3 Bootcamp</a>
        </div>
      </div>
      <div class="col-md-3 text-center text-md-right">
        © Learn Plasma
      </div>
    </div>
  </div>
</footer>

<% theme.scripts.forEach(url => { %>
  <script src="<%=url%>"></script>
<% }) %>

</body>
</html>
