<%
let has = require('lodash/has')
let {i18n} = page
%>

<header class="header" style="background-color: #f1f6fa">
  <div class="container">
    <h1><%=page.title%></h1>
    <p class="lead"><%=page.lead%></p>
    <p><%=page.sublead%></p>
  </div>
</header>

<div id="post" class="container">
  <article>
    <div class="row">
      <div class="col-md-4 col-xl-3"></div>
      <div class="col-md-7 col-xl-8 ml-md-auto py-8">
        <%-page.content%>
      </div>
    </div>
  </article>

  <% if (has(page, 'categories.count') === true && page.categories.count() > 0) { %>
    <div id="page-categories">
      <div id="page-categories-title"><%=i18n('categories')%></div>
      <% page.categories.each(item => { %>
        <a href="<%=item.uri%>" class="page-category"><%=item.name%></a>
      <% }) %>
    </div>
  <% } %>

  <% if (has(page, 'tags.count') === true && page.tags.count() > 0) { %>
    <div id="page-tags">
      <div id="page-categories-title"><%=i18n('tags')%></div>
      <% page.tags.each(item => { %>
        <a href="<%=item.uri%>" class="page-tag"><%=item.name%></a>
      <% }) %>
    </div>
  <% } %>
</div>
